<ion-header>
  <ion-toolbar>
    <ion-title color="primary">Custom Character</ion-title>
    <ion-icon (click)="back()" name="close" slot="end"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-input placeholder="Name" [(ngModel)]="sName"></ion-input>
    <p>Image (not required):</p>
    <input type="file" placeholder="Name" #img>
    <p>Audio (not required):</p>
    <input type="file" placeholder="Name" #audio>
    <p></p>
    <ion-button (click)="submit()">Add</ion-button>
  </div>
</ion-content>
